section.about
	.container
		.about__content
			h1.about__title A Powerful & Unique App Landing Template
			.about__description
				p.about__description-text
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				ul.about__description-list
					li.about__description-item Unlimited colors: banner with images, slider or video
					li.about__description-item Fully Responsive and powered by HTML5 and CSS3
					li.about__description-item Very easy to customize : set up in minutes
			button(type='button').about__button Start Exploring Us
