section.features#features
	.container
		ul.features__list
			li.features__item
				.features__icon
					img(src='/assets/img/icons/1.jpg').features__icon-pic
				.features__desc
					.features__title Sell any product online
					.features__text Over 92% of computers are infected with Adware and spyware. lorem
			li.features__item
				.features__icon
					img(src='/assets/img/icons/2.jpg').features__icon-pic
				.features__desc
					.features__title Very easy to customize
					.features__text Over 92% of computers are infected with Adware and spyware. lorem
			li.features__item
				.features__icon
					img(src='/assets/img/icons/3.jpg').features__icon-pic
				.features__desc
					.features__title Unlimited colors
					.features__text Over 92% of computers are infected with Adware and spyware. lorem
			li.features__item
				.features__icon
					img(src='/assets/img/icons/4.jpg').features__icon-pic
				.features__desc
					.features__title Responsive, HTML5, CSS3
					.features__text Over 92% of computers are infected with Adware and spyware. lorem
			li.features__item
				.features__icon
					img(src='/assets/img/icons/5.jpg').features__icon-pic
				.features__desc
					.features__title Designed to convert
					.features__text Over 92% of computers are infected with Adware and spyware. lorem
			li.features__item
				.features__icon
					img(src='/assets/img/icons/6.jpg').features__icon-pic
				.features__desc
					.features__title With no boundaries
					.features__text Over 92% of computers are infected with Adware and spyware. lorem
		.features__block
			.features__description
				h2.title We don’t leave you stranded
				p.features__description-text
					|	Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
				p.features__description-text
					| Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill? If you’re already a developer, or a PM, or a UX designer.
				ul.features__description-list
					li.features__description-item Unlimited colors: banner with images, slider or video
					li.features__description-item Fully Responsive and powered by HTML5 and CSS3
					li.features__description-item Very easy to customize : set up in minutes

