.hamburger-menu
	.hamburger-menu__close
		.hamburger-menu__close-icon
	.hamburger-menu__logo
		.header__icon Giant
	ul.hamburger-menu__list
		li.hamburger-menu__item
			a.hamburger-menu__link Home
		li.hamburger-menu__item
			a.hamburger-menu__link Features
		li.hamburger-menu__item
			a.hamburger-menu__link Pricing
		li.hamburger-menu__item
			a.hamburger-menu__link Download Now
