nav.nav
	ul.nav__list
		li.nav__item
			a(href='#about' data-target='anchor').nav__link Home
		li.nav__item
			a(href='#features' data-target='anchor').nav__link Features
		li.nav__item
			a(href='#pricing' data-target='anchor').nav__link Pricing
		li.nav__item
			a(href='#download' data-target='anchor').nav__link Download Now
