section.pricing
	.container
		.pricing__content
			h2.title--centered.title We've got the perfect package for you
			.pricing__description Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
		ul.pricing__list
			li.pricing__item
				.pricing__title Basic
				button.pricing__button.button Buy Now
				.pricing__price
					span $
					| 12.00
					sup /m
				ul.pricing__desc-list
					li.pricing__desc-item One User
					li.pricing__desc-item Multiple Access
					li.pricing__desc-item SMS Support
					li.pricing__desc-item 24/7 Online Support
				.pricing__btn-title Start Free Trial
			li.pricing__item
				.pricing__title Standard
				button.pricing__button.button Buy Now
				.pricing__price
					span $
					| 24.00
					sup /m
				ul.pricing__desc-list
					li.pricing__desc-item One User
					li.pricing__desc-item Multiple Access
					li.pricing__desc-item SMS Support
					li.pricing__desc-item 24/7 Online Support
				.pricing__btn-title Start Free Trial
			li.pricing__item
				.pricing__title Premium
				button.pricing__button.button Buy Now
				.pricing__price
					span $
					| 250.0
					sup /m
				ul.pricing__desc-list
					li.pricing__desc-item One User
					li.pricing__desc-item Multiple Access
					li.pricing__desc-item SMS Support
					li.pricing__desc-item 24/7 Online Support
				.pricing__btn-title Start Free Trial
			li.pricing__item
				.pricing__title Enterprise
				button.pricing__button.button Buy Now
				.pricing__price
					span $
					| 999.0
					sup /m
				ul.pricing__desc-list
					li.pricing__desc-item One User
					li.pricing__desc-item Multiple Access
					li.pricing__desc-item SMS Support
					li.pricing__desc-item 24/7 Online Support
				.pricing__btn-title Start Free Trial
