section.projects
	.container
		.projects__content
			h2.projects__title.title--centered.title Take a look at our screenshots
			.projects__description Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
		.projects__slider
