section.reviews
	.container
		.reviews__content
			h2.title--centered.title What our customers are saying
			.reviews__description Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
		.reviews__slider
			include ../modules/slider-reviews

