.slider-reviews
	ul.slider-reviews__list.slick-reviews
		li.slider-reviews__item
			.slider-reviews__text The JustLanded for WordPress theme is great, super easy to use and to customize and the support is just awesome: super fast and reliable.
			.slider-reviews__user
				.slider-reviews__avatar
					img.slider-reviews__avatar-pic(src='/assets/img/rev1.jpg')
				.slider-reviews__data
					.slider-reviews__name Alexandra Bullock
					.slider-reviews__company Apple Inc.
		li.slider-reviews__item
			.slider-reviews__text Very happy with the theme and incredibly easy to configure, well done! I cannot emphasize how awesome this theme and developer support are.
			.slider-reviews__user
				.slider-reviews__avatar
					img.slider-reviews__avatar-pic(src='/assets/img/rev2.jpg')
				.slider-reviews__data
					.slider-reviews__name Gary Sebastian
					.slider-reviews__company Apple Inc.
		li.slider-reviews__item
			.slider-reviews__text Very happy with the theme and incredibly easy to configure, well done! I cannot emphasize how awesome this theme and developer support are.
			.slider-reviews__user
				.slider-reviews__avatar
					img.slider-reviews__avatar-pic(src='/assets/img/rev3.jpg')
				.slider-reviews__data
					.slider-reviews__name Samantha Bilbau
					.slider-reviews__company Apple Inc.
		li.slider-reviews__item
			.slider-reviews__text Very happy with the theme and incredibly easy to configure, well done! I cannot emphasize how awesome this theme and developer support are.
			.slider-reviews__user
				.slider-reviews__avatar
					img.slider-reviews__avatar-pic(src='/assets/img/rev1.jpg')
				.slider-reviews__data
					.slider-reviews__name Samantha Bilbau
					.slider-reviews__company Apple Inc.
		li.slider-reviews__item
			.slider-reviews__text Very happy with the theme and incredibly easy to configure, well done! I cannot emphasize how awesome this theme and developer support are.
			.slider-reviews__user
				.slider-reviews__avatar
					img.slider-reviews__avatar-pic(src='/assets/img/rev2.jpg')
				.slider-reviews__data
					.slider-reviews__name Samantha Bilbau
					.slider-reviews__company Apple Inc.
		li.slider-reviews__item
			.slider-reviews__text Very happy with the theme and incredibly easy to configure, well done! I cannot emphasize how awesome this theme and developer support are.
			.slider-reviews__user
				.slider-reviews__avatar
					img.slider-reviews__avatar-pic(src='/assets/img/rev3.jpg')
				.slider-reviews__data
					.slider-reviews__name Samantha Bilbau
					.slider-reviews__company Apple Inc.
