doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Giant
    meta(name="description", content='it-launch')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    .wrapper
      .container
        include ../includes/modules/header
      include ../includes/modules/hamburger-menu
      include ../includes/modules/about-section
      include ../includes/modules/features-section
      include ../includes/modules/projects-section
      include ../includes/modules/pricing-section
      include ../includes/modules/video-section
      include ../includes/modules/reviews-section
      include ../includes/modules/download-section
      include ../includes/modules/footer
