.footer {
  background-color: #222222;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__copyright {
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    color: #ffffff;
  }
}
