.hamburger-menu {
  height: 100vh;
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
  color: $secondFontColor;
  z-index: 20;
  width: 100%;
  padding-top: 10%;

  &__item {
    margin-bottom: 35px;
    text-align: center;
  }

  &__link {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;

    &:hover {
      color: $mainFontColor;
      transition: .1s;
    }
  }

  &__close {
    width: 30px;
    height: 30px;
    position: absolute;
    transform: rotate(45deg);
    cursor: pointer;
    top: 37px;
    right: 15px;

    &:hover .hamburger-menu__close-icon {
      background-color: $mainFontColor;
      transition: .1s;
    }

    &:hover .hamburger-menu__close-icon:after {
      background-color: $mainFontColor;
      transition: .1s;
    }
  }

  &__close-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #ffffff;

    &:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 4px;
      border-radius: 2px;
      background-color: #ffffff;
      transform: rotate(90deg);
    }
  }

  &__logo {
    position: absolute;
    top: 30px;
    left: 9px;
    display: flex;

    &:before {
      content: url("/assets/img/icons/logo.svg");
      display: block;
      width: 48px;
      height: 40px;
    }
  }
}
