.nav {

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: $secondFontColor;
    padding: 10px 28px;
    border-radius: 17px;


    &:hover {
      background-color: $secondFontColor;
      color: $mainFontColor;
      transition: .2s;
    }
  }
}
