.projects {
  background-color: #f7fafc;
  padding-top: 120px;
  padding-bottom: 80px;

  &__description {
    padding: 0 18%;
    text-align: center;

    @include phone {
      padding: 0;
    }
  }

  &__slider {
    margin-top: 80px;
  }
}
