.socials {
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    height: 30px;
    width: 20px;
    fill: #ffffff;

    &:hover {
      transition: .2s;
      fill: #f31f79;
    }
  }
}

